PUID=1000
PGID=1000
TZ=America/Chicago
DOCKERCONFDIR=/volume1/docker/arr-stack
DOCKERSTORAGEDIR=/volume1/data
DOCKERLOGGING_MAXFILE=10
DOCKERLOGGING_MAXSIZE=200k

QBITTORRENT_PORT=8090
SABNZBD_PORT=8080
PROWLARR_PORT=9696
RADARR_PORT=7878
SONARR_ANIME_PORT=8989
LIDARR_PORT=8686
FILEBROWSER_PORT=9898

VPN_SERVICE_PROVIDER='private internet access'
VPN_TYPE=openvpn
OPENVPN_USER=change-me
OPENVPN_PASSWORD=change-me
SERVER_CITIES=Netherlands

FILEBROWSER_ROOT=/volume1/data
