TZ='America/Chicago'
STACKDIR='/opt/homelab/grafana-monitoring-stack'
DOCKERCONFDIR='/opt/homelab/grafana-monitoring-stack'
GRAFANA_PORT='3004'
PROMETHEUS_PORT='9090'
LOKI_PORT='3100'
ALLOY_PORT='12345'
CADVISOR_PORT='8083'
NODE_EXPORTER_PORT='9100'
GRAFANA_ADMIN_USER='admin'
GRAFANA_ADMIN_PASSWORD='change-me'
